.border{
    border-style: double;
    color: orange;
}
.Produktlista{
    display: flex;
    flex-direction: row;
}
.Neråt{
    margin-top: 2em;
    padding: 0 6em 0;
    padding-bottom: 30em;
}
h3{
    text-align: center;
    margin-left: 5em;
}
h3{
    color: orange;
}
h1{
    color: orange;
}
h6{
    color: black;
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.button{
    color: orange;
}