$clr-primary: rgb(214, 152, 46);
$clr-accent: rgb(255, 255, 255);
$clr-htext: rgb(247, 163, 29);
$clr-text: hsl(0, 0%, 0%);
$color_1: rgb(59, 54, 54);
$color_2: rgb(35, 33, 33);
$color_3: #000;
$color_4: rgb(32, 30, 30);
$color_5: hsl(38, 67%, 51%);
$color_6: hsl(0, 0%, 0%);
$color_7: rgb(49, 46, 46);
$color_8: hsla(60, 1%, 16%, 0.637);
$color_9: white;
$background-color_1: #fff;
$background-color_2: #f7a31d;
$background-color_3: none;
$font-family1: 'Kanit', sans-serif;